In [1]:
import pandas as pd
from futu import *

In [22]:
tickers = [2,5,8,11,12,16,66,293,388,823,1299,2318,2388,2778,2800]

In [23]:
for i in range(0, len(tickers)):
    tickers[i] = 'HK.' + str(tickers[i]).zfill(5)

In [24]:
tickers

['HK.00002',
 'HK.00005',
 'HK.00008',
 'HK.00011',
 'HK.00012',
 'HK.00016',
 'HK.00066',
 'HK.00293',
 'HK.00388',
 'HK.00823',
 'HK.01299',
 'HK.02318',
 'HK.02388',
 'HK.02778',
 'HK.02800']

In [ ]:
quote_ctx = OpenQuoteContext(host='127.0.0.1', port=11111)

In [25]:
df = quote_ctx.get_market_snapshot(tickers)

In [27]:
df[1]

,code,update_time,last_price,open_price,high_price,low_price,prev_close_price,volume,turnover,turnover_rate,...,option_theta,option_rho,index_valid,index_raise_count,index_fall_count,index_equal_count,plate_valid,plate_raise_count,plate_fall_count,plate_equal_count
0,HK.00002,2019-08-07 16:08:50,85.10,83.35,85.15,82.50,82.55,8474994,7.124712e+08,0.335,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
1,HK.00005,2019-08-07 16:08:50,60.20,60.00,60.35,59.85,60.30,28095015,1.686229e+09,0.136,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
2,HK.00008,2019-08-07 16:08:50,4.34,4.37,4.38,4.32,4.36,8237741,3.574500e+07,0.107,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
3,HK.00011,2019-08-07 16:08:50,173.00,173.50,174.30,171.00,173.30,3147417,5.421560e+08,0.165,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
4,HK.00012,2019-08-07 16:08:50,37.80,38.50,38.55,37.65,38.10,7094808,2.687263e+08,0.147,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
5,HK.00016,2019-08-07 16:08:50,111.80,114.10,114.10,111.30,113.40,6759483,7.565120e+08,0.233,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
6,HK.00066,2019-08-07 16:08:50,48.55,49.30,49.50,48.30,49.10,5864551,2.857452e+08,0.095,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
7,HK.00293,2019-08-07 16:08:50,10.40,10.40,10.44,10.30,10.32,5606232,5.812461e+07,0.143,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
8,HK.00388,2019-08-07 16:08:50,246.60,243.20,246.80,241.80,244.80,4839857,1.182228e+09,0.385,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
9,HK.00823,2019-08-07 16:08:50,91.55,91.10,91.90,90.60,92.00,7748542,7.061784e+08,0.367,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
10,HK.01299,2019-08-07 16:08:50,76.80,75.70,76.80,75.35,75.50,30576396,2.329216e+09,0.253,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
11,HK.02318,2019-08-07 16:08:50,88.25,89.00,89.00,86.90,88.55,31045661,2.724772e+09,0.417,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
12,HK.02388,2019-08-07 16:08:50,27.65,27.40,27.75,27.30,27.80,8442399,2.325058e+08,0.080,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
13,HK.02778,2019-08-07 16:08:50,5.57,5.66,5.66,5.52,5.65,5696442,3.174629e+07,0.097,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN
14,HK.02800,2019-08-07 16:08:50,26.75,26.85,26.85,26.40,26.75,103522692,2.748672e+09,3.518,...,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN

In [14]:
df.columns

RangeIndex(start=0, stop=1, step=1)

In [26]:
quote_ctx.close()